.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    opacity: 100%;
    background: #FFFFFF;
}

.swiper-pagination-bullet-active {
    background: #DCB29E;
}