@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  width: 0;
}

body::-webkit-scrollbar-track {
  background-color: var(--primary);
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
}

::selection {
  background-color: #836262;
  color: white;
}

::-moz-selection {
  background-color: #836262;
  color: white;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 13%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 13%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 13%;

    --primary: 20 47% 74%;
    --primary-foreground: 0 0% 13%;

    --secondary: 50 25% 95%;
    --secondary-foreground: 0 0% 13%;

    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 70%;

    --accent: 17 43% 45%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 270 3% 40%;

    --radius: 0rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 87%;

    --card: 0 0% 0%;
    --card-foreground: 0 0% 87%;

    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 87%;

    --primary: 20 47% 26%;
    --primary-foreground: 0 0% 87%;

    --secondary: 50 23% 5%;
    --secondary-foreground: 0 0% 87%;

    --muted: 0 0% 80%;
    --muted-foreground: 0 0% 87%;

    --accent: 17 43% 55%;
    --accent-foreground: 0 0% 0%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 270 3% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}